.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskForm{
  flex-direction: column;
  display: flex;
}
.task-create{
  width: 450px;
}
.taskUpdate{
  width: 100%;
}
.taskLabel{
  margin: 10px 0px;
}
.taskInput{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.taskButton{
  margin: 10px 0px;
    padding: 10px;
    border: 1px solid green;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.updateButton{
  background-color:blueviolet;
}
.taskList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.taskShow{
  border: 1px solid green;
  border-radius: 30px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.taskTitle{
  margin-bottom: 5px;
}
.taskDelete{
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}
.taskButtonUpdate{
  padding: 5px;
  font-size: 15px;
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color:blue;
  color: white;
  margin-right: 10px;
}
